.friend{
    background-color: rgb(204, 199, 199);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    
}
.friend #btn {
    padding: 5px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.friend #btn:hover{
    background-color: white;
    color: black;
}